{% extends 'base.html' %} {% block content %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="{{ url_for('studenti') }}">Studentska Evidencija</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse d-flex justify-content-between" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('studenti') }}">Studenti</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('predmeti') }}">Predmeti</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('korisnici') }}">Korisnici</a>
        </li>
      </ul>
      <form class="d-flex">
        <a href="{{ url_for('logout') }}" class="btn btn-dark">
          <i class="fas fa-sign-out-alt fa-lg"></i>
        </a>
      </form>
    </div>
  </div>
</nav>
<div class="container">
  <div class="row mt-5">
    <table class="col table">
      <tbody class="align-middle">
        <tr>
          <td colspan="2" align="center">
            <img {%if student.slika%} src="/static/uploads/{{ student.slika }}" {%else%} src="/static/img/placeholder.png"
              {%endif%} id="slika_pregled" />
          </td>
        </tr>
        <tr>
          <th>Ime</th>
          <td>{{ student.ime }}</td>
        </tr>
        <tr>
          <th>Ime jednog roditelja</th>
          <td>{{ student.ime_roditelja }}</td>
        </tr>
        <tr>
          <th>Prezime</th>
          <td>{{ student.prezime }}</td>
        </tr>
        <tr>
          <th scope="row">Broj indeksa</th>
          <td>{{ student.broj_indeksa }}</td>
        </tr>
        <tr>
          <th>Godina Studija</th>
          <td>{{ student.godina_studija }}</td>
        </tr>
        <tr>
          <th>JMBG</th>
          <td>{{ student.jmbg }}</td>
        </tr>
        <tr>
          <th>Datum Rodjenja</th>
          <td>{{ student.datum_rodjenja }}</td>
        </tr>
        <tr>
          <th>ESPB</th>
          <td>{{ student.espb }}</td>
        </tr>
        <tr>
          <th>Prosek Ocena</th>
          <td>{{ student.prosek_ocena }}</td>
        </tr>
        <tr>
          <th>Broj Telefona</th>
          <td>{{ student.broj_telefona }}</td>
        </tr>
        <tr>
          <th>Email</th>
          <td>{{ student.email }}</td>
        </tr>
        <tr>
          <th>Akcije</th>
          <td>
            <a href="{{ url_for('student_izmena', id=student.id) }}" role="button" class="text-warning me-2">
              <i class="fas fa-edit"></i>
            </a>
            <form class="d-inline" action="{{ url_for('student_brisanje', id=student.id) }}" method="POST">
              <button type="button" class="btn btn-outline-danger" data-toggle="modal"
                data-target="#deleteModal{{student.id}}">
                <i class="fas fa-trash-alt"></i>
              </button>
            </form>
          </td>
        </tr>
        <!-- Modal -->
        <div class="modal" id="deleteModal{{student.id}}" tabindex="-1" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
              <div class="modal-body">
                Sigurno želite da obrišete studenta {{ student.ime }}
                {{student.prezime }}?
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">
                  Odustani
                </button>
                <a href="{{ url_for('student_brisanje', id=student.id) }}" role="button"
                  class="btn btn-danger">Obriši</a>
              </div>
            </div>
          </div>
        </div>
      </tbody>
    </table>
    <div class="col-6 ocene-section px-5">
      <div class="card">
        <div class="card-body">
          <form action="{{ url_for('ocena_nova', id=student.id) }}" method="POST">
            <div class="form-group">
              <label for="predmet" class="d-block">Predmet</label>
              <select name="predmet" class="form-select">
                <option value="default" disabled selected>Odaberi predmet</option>
                {% for predmet in predmeti %}
                <option value={{ predmet.id }}>{{ predmet.naziv }}</option>
                {% endfor %}
              </select>
            </div>
            <div class="form-group">
              <label for="">Ocena</label>
              <input type="text" name="ocena" class="form-control" required>
            </div>
            <div class="form-group">
              <label for="">Datum</label>
              <input type="date" name="datum" class="form-control" required>
            </div>
            <input type="submit" class="btn btn-primary d-block w-50 m-auto" role="button" value="Dodaj Ocenu" />
          </form>
        </div>
      </div>
    </div>
  </div>
  <table class="table mt-5 table-striped">
    <thead>
      <tr>
        <th scope="col">Šifra</th>
        <th scope="col">Naziv</th>
        <th scope="col">Godina Studija</th>
        <th scope="col">Obavezni/Izborni</th>
        <th scope="col">ESPB</th>
        <th scope="col">Ocena</th>
        <th scope="col">Datum</th>
        <th scope="col">Akcije</th>
      </tr>
    </thead>
    <tbody class="align-middle">
      {% for ocena in ocene %}
      <tr>
        <td>{{ ocena.sifra }}</td>
        <td>{{ ocena.naziv }}</td>
        <td>{{ ocena.godina_studija }}</td>
        <td>{{ ocena.obavezni_izborni }}</td>
        <td>{{ ocena.espb }}</td>
        <td>{{ ocena.ocena }}</td>
        <td>{{ ocena.datum }}</td>
        <td scrope="row" class="d-flex align-items-center">
          <a href="{{ url_for('ocena_izmena', id=ocena.id) }}" role="button" class="text-warning fs-5 me-2">
            <i class="fas fa-edit"></i>
          </a>
          <form action="{{ url_for('ocena_brisanje', id=ocena.id) }}" method="POST" class="d-inline">
            <button type="button" class="btn btn-outline-danger" data-toggle="modal"
              data-target="#deleteModal{{ocena.id}}">
              <i class="fas fa-trash-alt"></i>
            </button>
          </form>
        </td>
      </tr>
      <!-- Modal -->
      <div class="modal" id="deleteModal{{ocena.id}}" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-body">
              Sigurno želite da obrišete ocenu {{ ocena.ocena }} iz predmeta {{ ocena.naziv }}?
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">
                Odustani
              </button>
              <a href="{{ url_for('ocena_brisanje', id=ocena.id) }}" role="button" class="btn btn-danger">Obriši</a>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}